html {
	margin: 50px;
}

header { 
	text-align: right;
	color: #B3B3B3;
	font: bold 15px century gothic, sans-serif;
	line-height: 250%;
	width: 100%;
}

body {
	color: #818181;
}

h1 {
	font: italic 50px Garamond, serif;
	color: #818181;
}

span {
	font: bold 15px century gothic, sans-serif;
}

a {
	color: #FFA07A;
}

img {
	float: right;
	margin-top: 10px;
	margin-left: 40px;
	margin-bottom: 40px;
}

h2 {
	font: bold 25px century gothic, sans-serif;
	line-height: 150%;
	color: #B3B3B3;
	padding-top: 50px;
}

p {
	font-family: Garamond, serif;
	line-height: 200%;
}

span.pipe {
	color: #B3B3B3;
}


