html {
	margin: 25px;
	border: solid;
	border-color: #818181;
	border-width: 4px;
	padding: 30px;
}

header { 
	text-align: center;
	color: white;
	font-family: arial, sans-serif;
	font-weight: bold;
	font-size: 15px;
	line-height: 250%;
	width: 100%;
}

body {
	background-color: #404040;
	color: white;
	font-size: 90%;

}

h1 {
	font-family: Georgia, serif;
	font-style: italic;
	font-size: 30px;
}

a:link {
	color: #47DA91;
}

img {
	border: solid;
	border-width: 1px;
	border-color: #B3B3B3;
	padding: 5px;
	margin-left: 20px;
	margin-bottom: 20px;
}

h2 {
	font-family: arial, sans-serif;
	font-weight: bold;
	font-size: 20px;
	line-height: 150%;
}

p {
	font-family: times, serif;
	line-height: 175%;
}

span.pipe {
	color: #B3B3B3;
}
	
hr {
	color: #818181;
	height: 1px;
	margin-top: 15px;
	margin-bottom: 20px;
	noshade: noshade;
}

div#content {
	border: 1px solid red;
	clear: both;
}

div#picture {
	float: right;
}

.lyrics {
	padding-bottom: 15px;
}

.debug {
	border: 1px solid red;
}

footer {
	text-align: center;
	font-family: arial, sans-serif;
	font-weight: bold;
	padding-top: 15px;
}
