html {
	margin: 50px;
}

header { 
	text-align: right;
	color: #B3B3B3;
	font: bold 15px century gothic, sans-serif;
	line-height: 250%;
	width: 100%;
}

body {
	color: #818181;
}

span {
	font: bold 15px century gothic, sans-serif;
}

h1 {
	font: italic 50px Garamond, serif;
	color: #818181;
}

a:link {
	color: #FFA07A;
}

h2 {
	font: bold 25px century gothic, sans-serif;
	line-height: 150%;
	color: #B3B3B3;
	padding-top: 50px;
}

h3 {
	text-transform: uppercase;
	font: bold 16px century gothic, sans-serif;
	letter-spacing: 3px;
	color: #B3B3B3;
	padding-top: 10px;
}

p {
	font-family: Garamond, serif;
	line-height: 200%;
}

span.pipe {
	color: #B3B3B3;
}

li {
	margin-bottom: 10px;
}
	
.title {
	font: bold 16px century gothic, sans-serif;
	color: #B3B3B3;
}

span.company {
	font-family: century gothic, sans-serif;
	font-weight: normal;
	font-size: 15px;
}

ul.experience {
	list-style-type: none;
}

ul.duties {
	margin-top: 10px;
	margin-bottom: 20px;
    list-style-type: square;
    color: #818181;
}

.education {
	list-style-type: square;
	padding-left: 80px;
}

p.education {
	line-height: 90%;
}
