html {
	margin: 25px;
	border: solid;
	border-color: #818181;
	border-width: 4px;
	padding: 30px;
}

header { 
	text-align: center;
	color: white;
	font-family: arial, sans-serif;
	font-weight: bold;
	font-size: 15px;
	line-height: 250%;
	width: 100%;
	border-bottom: solid;
	border-bottom-width: 1px;
	border-bottom-color: #B3B3B3;
	padding-bottom: 15px;
}

body {
	background-color: #404040;
	color: white;
	font-size: 90%;

}

h1 {
	font: italic 30px Georgia, serif;
}

a:link {
	color: #47DA91;
}

h2 {
	font-family: arial, sans-serif;
	font-weight: bold;
	font-size: 24px;
	line-height: 200%;
}

h3, h4 {
	text-transform: uppercase;
	font: bold 16px arial, sans-serif;
	letter-spacing: 2px;
	color: #B3B3B3;
	padding-top: 20px;
}
p {
	font-family: times new roman, serif;
}

span span {
	color: #B3B3B3;
}

li {
	list-style-type: square;
}
	
li p, li span {
	font-family: arial, sans-serif;
	font-weight: bold;
	font-size: 16px;
}

li p span, li span span {
	font-family: arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
}

li span span {
	color: white;
}

li p span span {
	color: #B3B3B3;
	font-family: arial, sans-serif;
	font-size: 11px;
}

li p span span span {
	color: #B3B3B3;
	font-family: times new roman, serif;
	font-size: 14px;
}

footer {
	text-align: center;
	font-family: arial, sans-serif;
	font-weight: bold;
	border-top: solid;
	border-top-width: 1px;
	border-top-color: #B3B3B3;
	padding-top: 25px;
	padding-bottom: 30px;
}

ul:nth-of-type(2) {
	margin-bottom: 30px;
};