#container {
	background: white;
	border: none;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}

header, footer, div {
	border: solid 2px black;
	padding: 5px;
	margin: 1%;
}

header, footer {
	height: 120px;
	width: 100%;
}

.header-div {
	width: 15%;
	height: 85px;
	float: left;
	margin: 1%;
}

.footer-div {
	width: 29%;
	height: 85px;
	float: left;
	margin: 1%;
}

.main-divs {
	width: 21%;
	height: 75px;
	float: left;
	margin: 1%;
}

#main-div {
	height: 300px;
	margin-top: 2%;
	width: 100%;
}

.main-divs {
	height: 200px;
	margin-bottom: 2%;
	margin-left: 1%;
	margin-right: 1%;
}

footer {
	clear: both;
}

.desktop-hidden {
	display: none;
}

#mobile-icon {
	width: 40px;
	padding: 10px;
	float: right;
	margin-bottom: 10px;
	margin-right: 25px;
}

#mobile-icon span {
	height: 10px;
	width: 100%;
	float: left;
	margin-bottom: 10px;
	background-color: purple;
	border-radius: 2px;
}

#mobile-icon span:last-child {
	margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
	
	.header-div {
		display: none;
	}

	div.main-divs {
		width: 100%;
	}

	div.smartphone-hidden {
		display: none;
	}

	footer {
		height: auto;
		margin-top: 1%;
		float: left;
		width: 100%;
	}

	div.footer-div {
		width: 98%;
	}

	.desktop-hidden {
		display: block;
	}


}

