#container {
	background-color: black;
	border: 2px solid white;
	border-radius: 20px;
	box-shadow: 0px 0px 10px 0 #60636E;
	color: white;
	padding: 20px;
	font: 25px helvetica, sans-serif;
}

button {
	background-color: white;
	color: black;
	border: none;
	clear: both;
	padding: 5px;
}

#list, p {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	float: right;
}

li {
	background-color: white;
	color: black;
	padding: 10px 20px;
}

#list .complete {
	color: #ccc;
	text-decoration: line-through;
}

#list li {
	cursor: pointer;
}

#list li a {
	visibility: hidden;
	cursor: pointer;
	margin-left: 1em;
	font-size: .5em;
	text-transform: uppercase;
	color: black;
}

#list li:hover a {
	visibility: visible;
	color: navy;
}

#list a:hover {
	text-decoration: underline;
}