body {
	font-family: helvetica, sans-serif;
}

#container {
	margin: 0 auto;
}

h1 {
	font: bold 80px helvetica, sans-serif;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

#game-board {
	border: solid 2px black;
	border-radius: 15px;
	padding: 50px;
	width: 730px;
	margin: 0 auto;
}

div.card {
	background: url("../images/back-of-card.png") 0 0 no-repeat transparent;
	width: 112px;
	height: 152px;
	float: left;
	background-size: cover;
	margin: 20px;
}


button {
	height: 30px;
	width: 120px;
	background-color: #E3E3E3;
	border: solid 1px black;
	border-radius: 5px;
}

#start-game, #reset-game, label {
	float: left;
	margin: 20px;
	display: inline-block;
}

footer {
	margin-top: 50px;
	margin-right: 100px;
	float: right;
	font-size: 20px;
	font-family: helvetica, sans-serif;
}

input[type="checkbox"] {

}

div.queen.active, div.queen.matched {
	background: url("../images/Queen.png") 0 0 no-repeat transparent;
	background-size: cover;
}

div.king.active, div.king.matched {
	background: url("../images/King.png") 0 0 no-repeat transparent;
	background-size: cover;
}